<div class="container">
  <h2>Liste des Livres</h2>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Titre</th>
        <th>Auteur</th>
        <th>Date de Publication</th>
        <th>ISBN</th>
        <th>Genre</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let livre of livres">
        <td>{{ livre.id }}</td>
        <td>{{ livre.titre }}</td>
        <td>{{ livre.auteur }}</td>
        <td>{{ livre.datePublication | date }}</td>
        <td>{{ livre.isbn }}</td>
        <td>{{ livre.genre }}</td>
        <td>
          <a [routerLink]="['/edit-livre', livre.id]">Modifier</a>
          <a (click)="deleteLivre(livre.id)">Supprimer</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>