<div class="container">
  <h2>Ajouter un Livre</h2>

  <form (ngSubmit)="addLivre(myform)" #myform="ngForm" class="book-form">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Titre</mat-label>
      <input matInput type="text" id="titre" [(ngModel)]="livre.titre" name="titre" required>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Auteur</mat-label>
      <input matInput type="text" id="auteur" [(ngModel)]="livre.auteur" name="auteur" required>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Date de Publication</mat-label>
      <input matInput type="date" id="datePublication" [(ngModel)]="livre.datePublication" name="datePublication"
        required>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>ISBN</mat-label>
      <input matInput type="text" id="isbn" [(ngModel)]="livre.isbn" name="isbn" required>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Genre</mat-label>
      <input matInput type="text" id="genre" [(ngModel)]="livre.genre" name="genre" required>
    </mat-form-field>

    <div class="button-container">
      <button mat-raised-button color="primary" type="submit">Ajouter</button>
    </div>
  </form>
</div>